@import '../../styles/base/vars';
.side-nav {
  position: sticky;
  top: 0;
  padding-top: 23px;
}
.side-nav-item {
  margin: auto 0;
  cursor: pointer;
  color: white;
  display: block;
  padding: 9px;
  font-size: 25px;
  width: 250px;
  margin-top: 15px;
  display: flex;
  text-decoration: none;
  .name {
    vertical-align: middle;
    display: inline-block;
    font-size: 23px;
    line-height: 30px;
    display: inline-block;
    margin: auto 0;
    margin-left: 10px;
  }
  &:hover {
    color: white;
  }
  svg {
    display: inline-block;
    margin: auto 0;
    vertical-align: middle;
  }
}
.active {
  background: $secondaryColor;
  border-radius: 100px;
  color: $primaryColorLight;
  &:hover {
    color: $primaryColorLight;
  }
}
