.food-item {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
  }
  cursor: pointer;
  .food-name {
    font-size: 18px;
  }
  img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1;
  }
}
