@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Thin.ttf');
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Thin.ttf');
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('../../public/assets/Heebo/static/Heebo-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
