$grayscale50: #f7f7f7;
$grayscale100: #d1d1d6;
$grayscale200: #c7c7cc;
$grayscale300: #aeaeb2;
$grayscale400: #8e8e93;
$grayscale500: #636366;
$grayscale600: #636366;
$grayscale700: #3a3a3c;
$grayscale800: #2c2c2e;
$grayscale900: #1c1c1e;

$primaryColor: #000814;
$secondaryColor: #ffc300;
$primaryColorLight: #001d3d;

// sizes
// $breakpointDesktop: 1360;
$mobilePadding: 16;
$remBase: 16px;

$breakpointXs: 0;
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;
$breakpointXxl: 1925px;
