$primaryColor: #000814;
$secondaryColor: #ffc300;
$primaryColorLight: #001d3d;

// sizes
// $breakpointDesktop: 1360;
$mobilePadding: 16;
$remBase: 16px;

$breakpointXs: 0;
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;
$breakpointXxl: 1925px;
