@import 'vars';

html {
  scroll-behavior: smooth;
}

*,
div {
  margin: 0;
  padding: 0;
}

.primary-button {
  background: $secondaryColor;
  font-weight: bold;
  height: 48px;
  &:hover {
    background: $secondaryColor;
    color: #000;
  }
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}
